* {
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: #f8f5f2fd;
    font-family: sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  
  .container{
    display: flex;
    width: 70vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  ul {
    background-color: burlywood;
    
    
  }

  h2 {
    text-transform: uppercase;
    font-size: 1rem
  }
  
  p{
    text-align: left;
    max-width: 40rem;
  }